    <hr>
    <div id="footer">
        <div class="container text-center">
            <p class="text-muted credit">
                &copy; 2019 Son <br>
                Disclaimer: The information in this page may be inaccurate.
            </p>
        </div>
    </div>
</html>