<% include partials/header.ejs %>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Solar System</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="planet/mercury">Mercury</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="planet/venus">Venus</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="planet/earth">Earth</a>
            </li>
        </ul>
    </nav>
              
    <div class="container-fluid py-3">
        <div class="row">
            <div class="text-center col-md-2">
                <h5>Solar System</h5>
                <p>Our solar system is an amazing place. Home to many planets and stars, the Sun is so big it can fit 1,300,000 Earths inside. But even at that, our solar system is but one of many in the Milky Way. We are a sand pebble in the ocean, and even smaller with the size of the Universe.</p>
            </div>
            <div class="text-center col-md-7">
                <img src="/img/solar_system.jpg" class="rounded img-fluid" alt="The Solar System"/>
            </div>
        </div>
    </div>
    
<% include partials/footer.ejs %>
